html {
    position: relative;
    min-height: 100%;
}

::selection {
    background-color: #ed4040;
    color: #fff;
}

body {
    margin-bottom: 6em; /* Preserve space for the footer */
    font-family: 'Montserrat', sans-serif;
}

#footer {
    display: flex;
    justify-content: center;
    line-height: 4em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: #e9ecef;
    color: #666666;
}

.pagination-button {
    cursor: pointer;
    color: #c3c3c3;
    font-size: 64px;
    transition: color 0.2s;
}

.pagination-button:hover {
    color: #666666;
}

.link {
    color: #d14d14;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
